<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM HH:mm:ss.SSS}}  %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue}  %style{%-20.30C{2}}{cyan} : %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>

</Configuration>